<!DOCTYPE html>
<html>
   <head>
      <meta lang="es">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="Software para registro de productoss comerciales">
      <title></title>
      <link rel="stylesheet" href="./css/app.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/FortAwesome/Font-Awesome@5.14.0/css/all.css">
      <script src="https://use.fontawesome.com/your-embed-code.js"></script>
      <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    </head>
   <body>
      <div id="header">
         <div class="header">
            <h1 class="header__title">{{title}}</h1>
            <h3 class="header__subtitle">{{subtitle}}</h3>
         </div>
      </div>

      <div id="app">
         <fieldset class="table">
            <legend class="table__title">
               <h4>Registro de Productos</h4>
            </legend>
            <form class="table__add-product">
               <input id="add__product-input" type="text" v-model="nuevoProducto" @keyup.enter="validation()" placeholder="Productos" title="Solo letras">
               <input id="add__cant-input" type="number" v-model.number="nuevaCantidad" @keyup.enter="validation()" min="0" placeholder="0" title="Solo números">
               <button v-if="productos" @click="validation()" id="add" title="Agregar a la lista">Agregar</button>
               <button v-if="productos" @click="saveProductos()" id="save" title="Guardar en el Local Storage">Guardar</button>
            </form>
            <p class="table__MSG" v-if="errorMSG !== '' || exitoMSG !== ''" v-bind="timer()">
               {{errorMSG}}{{exitoMSG}}
               <button @click="errorMSG = '', exitoMSG = ''">
                  <i class="fas fa-trash-alt"></i>
               </button>
            </p>
            <div class="table__row-head">
               <div class="table__row-head-column col-1">
                  <p>+/-</p>
               </div>
               <div class="table__row-head-column col-2">
                  <p>Cantidad</p>
                  <p>Id</p>
               </div>
               <div class="table__row-head-column col-3">
                  <p>Productos</p>
               </div>
            </div>
            <div id="table_row-body" :id="producto.id" class="table__row-body" v-for="(producto, index) of productos" v-if="producto.nombre">
               <div class="table__row-body-column col-1">
                  <button class="plus-green" @click="producto.cantidad++" v-if="producto.nombre"><i class="fas fa-plus-square"></i></button>
                  <button class="less" @click="producto.cantidad > 0 ? producto.cantidad-- : null" v-if="producto.cantidad > 0"><i class="fas fa-minus-square"></i></button>
                  <button class="delete" @click="eliminarProducto(index)" v-if="producto.cantidad === 0 || producto.cantidad === ''"><i class="fas fa-trash-alt"></i></button>
               </div>
               <div class="table__row-body-column col-2">
                  <input title="Click para ditar" v-if="producto.nombre" v-model.number="producto.cantidad" @keyup.enter="saveProductos()" />
                  <p v-if="producto.nombre" >{{index}}</p>
               </div>
               <div class="table__row-body-column col-3">
                  <p>{{producto.nombre}}<b v-if="producto.cantidad === 0 || producto.cantidad === ''"> - {{outStock}}</b></p>
               </div>
            </div>
            <div class="table__total">
               <h4>Total: <span v-if="sumarStock > 0">{{sumarStock}}</span><b v-if="sumarStock === '' || sumarStock === 0">{{outStock}}</b></h4>
               <button v-if="productos" @click="exportData()">Exportar a CSV</button>
               <a id="export" href="">Descargar</a>
            </div>
         </fieldset>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
      <script src="./js/app.js"></script>
      <script src="./js/header.js"></script>
   </body>
   <footer>
   </footer>
</html>